# Copy this file to .env and fill in your values
PORT=3001
ALLOWED_ORIGINS=http://localhost:5173
AUTH_SERVICE_URL=http://localhost:4001
USER_SERVICE_URL=http://localhost:4002
ADMIN_SERVICE_URL=http://localhost:4003
PAYMENT_SERVICE_URL=http://localhost:4004
CACHE_SERVICE_URL=http://localhost:4005

EMAIL_SERVICE_URL=http://localhost:4007

NOTIFICATION_SERVICE_URL=http://localhost:4009
WEBSOCKET_SERVICE_URL=http://localhost:4010
ANALYTICS_SERVICE_URL=http://localhost:4011
SUBSCRIPTION_SERVICE_URL=http://localhost:4012
ORGANIZER_SERVICE_URL=http://localhost:4013
QR_SERVICE_URL=http://localhost:4014
SCANNER_SERVICE_URL=http://localhost:4015
ML_SERVICE_URL=http://localhost:5000
